.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 46px;
    color: rgb(17, 250, 122);
}

.iconSpin {
    margin: 40px 0;
    animation: iconSpin 2s infinite linear;
}

@keyframes iconSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}