.homePageWrap {
    height: 100vh;
    background-image: url("../../icon/phone.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.homePageTitle {
    padding-top: 40px;
    margin: 0;
    font-size: 56px;
}